/* start comman css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 1120px;
    margin: auto;
}

/* end comman css */

/* navbar css start */

#navbar{
    background-color: beige;
    padding: 10px;

}
.navigration{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo img{
    width: 60px;
    height: 60px;
}
#navbar .menu ul{
    list-style: none;
    display: flex;
}
#navbar .menu ul li{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

#navbar .menu ul li a{
    color: brown;
}


#navbar .menu ul li a:hover{
    color: red;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}

/* navbar css end */

.btn_postion{
    position: fixed;
    bottom: 15%;
    right: 0;
}

.btn{
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
}

.main_div{
    width: 400px;
    height: 400px;
    background-color: burlywood;
    position: relative;
}

.item1{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 20px;
    left: 100px;
}

.square{
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: green;
    position: relative;
    margin-bottom: 200px;

}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar{
    width: 30px;
    height: 400px;
    background-color: black;
    position: absolute;
    left: -30px;
}

.image{
    height: 300px;
    width: 200px;
    background-color: aqua;
    margin: auto;
    position: relative;
}

.image h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}