.header{
    background-color: aqua;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid khaki;
    margin: 30px;
    width: 200px;
}

#image{

    background: url(./nature.webp);
    background-repeat: no-repeat;
    height: 500px;
}

#image .heading{
    color: navajowhite;
}

.text .heading{
    font-size: 50px;
    font-weight: bold;
}

.text .paragraph{
    font-size: 20px;
    font-style: italic;
}

.flex_box{
    width: 700px;
    height: 600px;
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    align-content: center;
    align-items: start;
    
}

.item1{
    background-color: blueviolet;
    height: 100px;
    width: 700px;
    margin-top: 20px;
    text-align: center;
}
.item2{
    background-color: red;
    height: 500px;
    width: 200px;
    margin-top: 20px;
}
.item3{
    background-color: ghostwhite;
    height: 500px;
    width: 200px;
    margin-top: 20px;
}
.item4{
    background-color: green;
    height: 100px;
    width: 700px;
    margin-top: 20px;
    text-align: center;
}

.item5{
    background-color: cadetblue;
    height: 100px;
    width: 200px;
    margin-top: 20px;
}
.item6{
    background-color: lawngreen;
    height: 100px;
    width: 200px;
    margin-top: 20px;
}
.item7{
    background-color: wheat;
    height: 100px;
    width: 200px;
    margin-top: 20px;
}
.item8{
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    margin-top: 20px;
}


